input/*
data/*
logs/*

*.DS_Store
__debug*

.idea
*.iml

*.sql
!migrations/*.sql
*_test.json
*.log
output/*
!output/.gitkeep

config.local.json

**/.terraform/*
**/.terraform*
**/*.tfvars
**/*.tfstate*
scraper/localconfig/*
scraper/config_local.json
api/data/*
